# Data Science Tools and Ecosystem

## Introduction
This notebook provides a brief overview of the fundamental tools and languages used in data science.

## Data Science Languages
Some of the popular languages used in Data Science include:
* Python
* R
* SQL

## Data Science Libraries
Some of the commonly used libraries in Data Science include:
* NumPy
* Pandas
* Matplotlib
* Seaborn
* Scikit-learn

## Data Science Tools
| Tool | Description |
|---|---|
| Jupyter Notebook | An interactive environment for data exploration, analysis, and visualization |
| RStudio | An integrated development environment (IDE) specifically designed for R |
| VS Code | A versatile code editor that can be customized for data science |
| Tableau | A powerful data visualization and business intelligence tool |
| Power BI | A comprehensive data visualization and business intelligence tool |

## Arithmetic Expressions
Let's explore some basic arithmetic operations in Python.

In [2]:
# Arithmetic Operations
num1 = 30
num2 = 5

# Addition
addition_result = num1 + num2

# Subtraction
subtraction_result = num1 - num2

# Multiplication
multiplication_result = num1 * num2

# Division
division_result = num1 / num2

# Floor Division (Integer division)
floor_division_result = num1 // num2

# Modulus (Remainder)
modulus_result = num1 % num2

# Exponentiation
exponentiation_result = num1 ** num2

print("Addition:", addition_result)
print("Subtraction:", subtraction_result)
print("Multiplication:", multiplication_result)
print("Division:", division_result)
print("Floor Division:", floor_division_result)
print("Modulus:", modulus_result)
print("Exponentiation:", exponentiation_result)

Addition: 35
Subtraction: 25
Multiplication: 150
Division: 6.0
Floor Division: 6
Modulus: 0
Exponentiation: 24300000

In [3]:
# Type Conversion
number_string = "112"

# Convert string to integer
number_int = int(number_string)

# Convert string to float
number_float = float(number_string)

print("Integer:", number_int)
print("Float:", number_float)

# Converting Minutes to Hours
minutes = 180
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours.")

Integer: 112
Float: 112.0
180 minutes is equal to 3.0 hours.

## Objectives
* Understand the fundamental tools and languages used in data science.
* Learn basic arithmetic operations in Python.
* Practice data type conversions in Python.

## Author
Timothy Sweitzer